<!DOCTYPE html>
<html>

<title>404</title>

<head>
    <link ref="stylesheet" href="/css/styles.css" <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{>errorMessage}}</p>
    </div>

    {{>footer}}    
</body>


</html>