<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <img class="portrait" src="/img/MyPic.jpg">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    {{>footer}}
</body>

</html>